.fix-bar {
  width: 100%;
  height: 60px;
  background: white;
}

.fix-bar-bloc {
  max-width: 1150px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
}

.fix-bar-bloc input {
  display: none;

}

.fix-bar label {
  position: relative;
  top: 20px;
}

.fix-bar-bloc input:checked + span {
  border-bottom: 5px solid red;
  color: black;

}

.fix-bar-bloc span {
  color: #a8a8a8;
  padding: 15px 10px;
  font-size: 18px;
  font-family: LatoBold;
  cursor: pointer;
}

.fix-bar-bloc .bloc-search input {
  display: inline;
  width: 51%;
  max-width: 475px;
  height: 40px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #d8d7d7;
  box-sizing: border-box;
  margin: 10px 10px 0 0;
}

.fix-bar-bloc .bloc-search input[type="search"] {
  padding-left: 10px;
}

.fix-bar-bloc .bloc-search .search2 {
  width: 45%;
  max-width: 310px;
  background-image: url("../../assets/img/search.png");
  background-repeat: no-repeat;
  background-position: 265px;
}

.calendar {
  width: 30px;
  height: 30px;
  margin-top: 15px;
}

.fix-bar-bloc .bloc-search {
  width: 60%;
  max-width: 800px;
  height: 100%;
  display: inline;
}

.switch {
  margin-right: 55px;
}

.bloc-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bloc-content .bloc1 {
  max-width: 348px;
  height: 540px;
  background: white;
  border-radius: 3px;
  margin-top: 40px;
  box-shadow: 0 1px 1px 1px #e6e6e6;
  display: flex;
  flex-wrap: wrap;
}

.conteiner1 {
  max-width: 348px;
}

.conteiner2 {
  max-width: 348px;
  margin-left: 50px;
  margin-right: 50px;
}

.conteiner3 {
  max-width: 348px;
}

.bloc1 .image {
  max-width: 100%;
  height: 215px;
  background-repeat: no-repeat;
  border-radius: 3px 3px 0 0;
}

.bloc1 .img-bloc1 {
  background-image: url("../../assets/img/img-bloc1.png");
  background-position: 70% 50%;
  background-size: 400px;
}

.bloc1 .img-bloc2 {
  background-image: url("../../assets/img/img-bloc2.png");
  background-position: 70% 50%;
  background-size: 470px;
}

.bloc1 .img-bloc3 {
  background-image: url("../../assets/img/img-bloc3.png");
  background-position: 60% 70%;
  background-size: 440px;
}

.bloc1 .img-bloc4 {
  background-image: url("../../assets/img/img-bloc4.png");
  background-size: 580px;
}

.bloc1 .img-bloc5 {
  background-image: url("../../assets/img/img-bloc5.png");
  background-position: 70% 50%;
}

.bloc1 .img-bloc6 {
  background-image: url("../../assets/img/img-bloc6.png");
  background-position: 50% 50%;
}

.image-info {
  width: 100%;
  height: 40px;
  position: relative;
  bottom: 43px;
}

.image-info p {
  width: 100%;
}

.image-info .img-love {
  float: right;
  margin-right: 10px;
  position: relative;
  bottom: 3px;
}

.image-info .img-fb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(13, 13, 13, 0.35);
  margin: 0 10px 0 15px;
}

.image-info span {
  position: relative;
  bottom: 5px;
  color: white;
  font-size: 12px;
}

.text-content p {
  font-size: 14px;
  color: #646464;
  margin: auto 0;
  word-spacing: 1px;
  margin-bottom: 20px;
  float: left;
}

.text-content span {
  color: #b9b9b9;
  font-size: 13px;
  margin-bottom: 10px;
}

.text-content h2 {
  font-size: 24px;
  color: #36393b;
  margin-bottom: 10px;
}

.text-content {
  height: 193px;
  margin-left: 20px;
  margin-top: 25px;
  margin-bottom: 26px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bloc1 .bloc-male {
  width: 49.5%;
  max-width: 173px;
  height: 80px;
  background: #f7f7f7;
  float: left;
  margin-right: auto;
}

.bloc1 .statistics p {
  height: 70px;
  float: right;
  font-size: 32px;
  font-weight: 900;
  color: #36393b;
  position: relative;
  right: 40px;
  top: 10px;
}

.bloc1 .statistics span {
  font-size: 14px;
  color: #d0d0d0;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 1px;
  bottom: 15px;
}

.bloc1 .statistics img {
  opacity: 0.6;
  margin-top: 15px;
  margin-left: 18px;
}

.bloc1 .bloc-female {
  width: 49.5%;
  max-width: 173px;
  height: 80px;
  background: #f7f7f7;
  float: right;
}

.bloc1 sub {
  font-size: 20px;
  line-height: 0;
  position: relative;
  bottom: 7px;
  right: 5px;
}

.button input {
  width: 200px;
  height: 40px;
  margin: 30px auto 40px auto;
  border: 1px solid #e4e4e4;
  display: block;
  background: #fafafa;
  border-radius: 3px;
  font-size: 16px;
  color: #8e9498;
  cursor: pointer;
}

.button input:hover {
  color: #646464;
}
